<div class="modal-demo">
	<div id="editaddModal">
		<div class="modal-content">
			<form name="form" novalidate>
				<div class="modal-header">
					<h4 class="modal-title" ng-model="modalName">{{modalName}} User</h4>
					<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
				</div>
				<div class="modal-body">

					<!--<div class="form-group" ng-class="{'has-error':editProductForm.name.$invalid && !editProductForm.name.$touched }">
						<label for="firstName">First Name<span class="text-danger">*</span></label>
						<input type="text" class="form-control" name="firstName" id="firstName" ng-model="userModel.FirstName"
							   ng-required="true"
							   ng-minlength="2"
							   ng-maxlength="50"
							   ng-pattern="/^[A-Z a-z АаБбВвГгДдЃѓЕеЖжЗзЅѕИиЈјКкЛлЉљМмНнЊњОоПпРрСсТтЌќУуФфХхЦцЧчЏџШш \'\-]*$/">-->
					<!--"/^[A-Z a-z \p\{IsCyrillic\} \'\-]*$/"
					"/[^0-9][^\u0000-\u007F]+/"-->
					<!--<div ng-messages="form.firstName.$error" style="color: red">
							<p ng-message="required">First name should not be empty!</p>
							<p ng-message="minlength">First name should be at least 2 characters</p>
							<p ng-message="maxlength">First name should be maximum 50 characters</p>
							<p ng-message="pattern">First name can only be alphanumeric with an optional ' or -</p>
						</div>
					</div>-->

					<div class="form-group" show-errors>
						<label class="control-label">Name</label>
						<input type="text" class="form-control" name="name" ng-model="userModel.FirstName" required placeholder="Name" />
						<p class="help-block" ng-if="form.firstName.$error.required">The user's name is required</p>
					</div>

					<!--<div class="form-group">
						<label for="fName" name="fName">First Name<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="firstName" ng-model="userModel.FirstName" required>
					</div>-->
					<div class="form-group">
						<label for="lName" name="lName">Last Name<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="lastName" ng-model="userModel.LastName" required>
					</div>

					<div class="form-group">
						<label for="email" name="email" ng-model-options="{ updateOn: 'blur' }">Email<span class="text-danger">*</span></label>
						<input type="email" class="form-control" id="email" ng-model="userModel.Email" required>
					</div>
					<div class="form-group">
						<label for="password" name="password">Password<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="password" ng-model="userModel.Password" required>
					</div>
					<div class="form-group">
						<label for="mobile" name="mobile">Contact Number<span class="text-danger">*</span></label>
						<input type="tel" class="form-control" id="mobile" ng-model="userModel.ContactNumber" required>
					</div>
					<div class="form-group">
						<label for="address" name="address">Address<span class="text-danger">*</span></label>
						<textarea type="text" class="form-control" id="address" ng-model="userModel.Address" required></textarea>
					</div>
					<div class="form-group">
						<label for="city" name="city">City:<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="city" ng-model="userModel.City" required>
					</div>
					<div class="form-group">
						<label for="zip" name="zip">Zip Code:<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="zip" ng-model="userModel.Zip" required>
					</div>
					<div class="form-group">
						<label for="country" name="country">Country:<span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="country" ng-model="userModel.Country" required>
					</div>
					<!--<div class="form-group">
						<label for="isAdmin" name="isAdmin">Is Admin:<span class="text-danger">*</span></label>
						<input type="checkbox" checked data-toggle="toggle" data-size="small">
					</div>-->
					<!--<div class="form-group">
					<label for="memberSince" name="memberSince">Member Since:<span class="text-danger">*</span></label>-->
					<!--<input type="text" class="form-control" id="memberSince" ng-model="userModel.MemberSince" required>-->
					<!--<input type="text" class="form-control" uib-datepicker-popup="{format}}" ng-model="date" />
					</div>-->



					<div class="form-group">
						<label for="status" name="status">User Status<span class="text-danger">*</span></label>
						<select class="form-control" ng-model="userModel.UserStatus">
							<option ng-repeat="x in defaultStatus" ng-value="{{x.id}}">{{x.value}}</option>
						</select>
					</div>


				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" ng-click="dismiss()">
					<input type="submit" class="btn btn-info" value="Save" ng-click="addEditUser(form)">
				</div>
			</form>
		</div>
	</div>
</div>


<!--<div class="form-group">
	<label for="status" name="status">Original Status</label>
	<select class="form-control" ng-model="userModel.Status">
		<option ng-repeat="s in stat" ng-model="userModel.Status">{{s.status}}</option>
	</select>
</div>-->
<!--<div class="form-group">
	<label for="status" name="status">Vlade Status</label>
	<select class="form-control" ng-options="option.status for option in options track by option.id" ng-model="userModel.Status">
	</select>
</div>-->
<!--<div class="form-group">
	<label for="status" name="status">OLD Status</label>
	<select class="form-control" ng-model="userModel.Status">
		<option ng-repeat="s in stat" ng-model="userModel.Status">{{s.status}}</option>
	</select>
	<div>
		<input type="text" class="form-control" id="status" ng-model="default[userModel.Status]">
	</div>
</div>-->
<!--<div class="form-group">
	<label for="status" name="status">New Status</label>
	<select class="form-control" ng-model="userModel.Status" ng-options="st.status for st in stat" ng-init="model.stat=stat[0]" selected></select>
</div>
<div class="form-group">
	<label for="status" name="status">Try</label>
	<select class="form-control" ng-model="userModel.Status" ng-options="o for o in userModel.Status"></select>
</div>






	 <div class="form-group">
						<label for="status" name="status">Default Status</label>
						<select class="form-control" ng-model="default[userModel.UserStatus]">
							<option ng-repeat="d in default">{{d}}</option>
						</select>
					</div>
	-->
